* {
  box-sizing: border-box;
}

body {
  background-color: #2C3E50;
  font-size: 16px;
  padding: 15px;
  min-width: 300px;
  font-family: 'Open Sans', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  margin-bottom: 15px;
}

.header__logo {
  display: block;
  width: 70px;
}

.input__container, 
.result__container {
  display: flex;
  flex-grow: 1;
  gap: 8px;
  margin-bottom: 10px;
}

.input-field,
.result-field {
  display: block;
  position: relative;
  border-radius: 5px;
}

.result-field {
  padding-top: 10px;
  background-color: #425466;
  cursor: text;
}

.input-field input,
.result-field input {
  width: 100%;
  color: #fff;
  border: none;
  border-radius: inherit;
  padding: 5px;
  padding-top: 10px;
  font-size: 28px;
  text-align: right;
}

.input-field input { background-color: #27313B; }

.result-field input {
  background-color: #425466;
  cursor: text;
}

.result-field input::placeholder {
  color: #fff;
  opacity: .6;
}

.text-input__label {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #fff;
  font-size: 10px;
}

.button__container {
  display: flex;
  margin-top: 15px;
  flex-grow: 1;
  gap: 8px;
}

button {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.button--primary {
  color: #fff;
  padding: 10px;
  font-weight: bold;
  background-color: #27AE60;
}

.button--secundary {
  color: #C7C7C7;
  border: 1px solid #959595;
  font-weight: normal;
  background-color: #2C3E50;
}

.button--danger {
  color: #e74c3c;
  border-color: #c0392b;
}

.options__container {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.options__checkbox {
  margin: 0;
}

.options__label {
  display: inline-block;
  position: relative;
  margin-left: 5px;
  color: #fff;
  font-size: 10px;
}

.footer {
  color: #C7C7C7;
  font-size: 10px;
  margin-top: 8px;
  display: block;
  text-align: right;
}